.header {
    text-align: center;
    border-bottom: 1px solid #E0DFDE;
    position: relative;
    background-color: #fff;
}

.header h1 {
    color: #8B7969;
}

h1 {
    margin: 0;
}


.form__header {
    text-align: center;
    margin: 50px 0;
}

.login__button, .register__button {
    position: absolute;
    top: 30px;
    right: 30px;
    padding: 6px 14px;
    font-size: 14px;
    color: #a58f7d;
    text-decoration: none;
    border: 1px solid #a58f7d;
    border-radius: 4px;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.login__button:hover, .register__button:hover{
    background-color: #a58f7d;
    color: white;
}

.form__error {
    color: red;
    font-size: 14px;
    margin-top: 4px;
}

.logout-form {
    position: absolute;
    top: 30px;
    right: 30px;
}

.logout-button {
    background-color: transparent;
    color: #a58f7d;
    border: 1px solid #a58f7d;
    padding: 6px 14px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.logout-button:hover {
    background-color: #a58f7d;
    color: white;
}