.form {
    margin: 0 auto;
    width: 972px;
    height: 606px;
}

<<<<<<< HEAD
.form__header {
    text-align: center;
    margin: 50px 0;
}

=======
>>>>>>> c5d9d0f (フォーム確認機能の実装(デザイン以外))
.form__group {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 2px;
    margin-bottom: 20px;
    font-size: 20px;
}


<<<<<<< HEAD

=======
>>>>>>> c5d9d0f (フォーム確認機能の実装(デザイン以外))
.required {
    color: #FF9494;
}

.form__contact-button {
    text-align: center;
<<<<<<< HEAD
}
=======
}


>>>>>>> c5d9d0f (フォーム確認機能の実装(デザイン以外))
