.form {
    margin: 0 auto;
    width: 972px;
    height: 606px;
}

.form__group {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 2px;
    margin-bottom: 20px;
    font-size: 20px;
}

.required {
    color: #FF9494;
}

.form__contact-button {
    text-align: center;
}